# Docker
*.log
*.pid
*.db

# Frontend
app/node_modules/

# Backend
api/vendor/
api/config/development.config.php
api/phpunit.xml
.phpcs-cache
.phpunit.cache
.psalm-cache
api/module/WheelHubApi/src/logs.txt
api/config/autoload/global.php

# DataBase
.env

# Inne
.DS_Store
