# Docker
*.log
*.pid
*.db

# Frontend
app/node_modules/

# Backend
api/vendor/
api/config/development.config.php
api/data/cache/*
api/data/cache/.gitkeep
api/phpunit.xml
.phpcs-cache
.phpunit.cache
.psalm-cache
api/module/WheelHubApi/src/logs.txt


# DataBase
# .env

# Inne
.DS_Store
