<div ng-if="status === 'loading'" layout="row" layout-align="center center" style="height: 100%;">
    <md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>
</div>
<div ng-if="status === 'error'" layout="column" layout-align="center center" style="height: 100%;">
    <md-progress-circular md-mode="indeterminate" md-diameter="50" class="md-warn md-hue-3"></md-progress-circular>
    <h3 style="color: red;">Wystąpił błąd podczas ładowania danych!</h3>
    <md-button class="md-raised" ng-click="onRetry()" style="background-color: #ffa31a; color: white;">
        Spróbuj ponownie
    </md-button>
</div>