<div layout="row" layout-align="space-between center" style="margin-bottom: 20px;">
    <h1>Witaj w liście pojazdów</h1>

    <md-button class="md-raised" ng-href="#!/cars-list/add" style="background-color: #4CAF50; color: white;">Dodaj
        pojazd</md-button>
</div>

<loading-circular status="status" on-retry="loadCars()"></loading-circular>

<div ng-if="status === 'success'">
    <md-list flex="">
        <md-subheader class="md-no-sticky" ng-click="toggleSort()">
            {{ sortReverse
            ? 'Sortowanie: Marka Pojazdu ▼' :
            'Sortowanie: Marka Pojazdu ▲ ' }}
        </md-subheader>
        <cars-list-car ng-repeat="car in cars | orderBy:sortOrder:sortReverse" car="car"
            on-delete="confirmDelete(carId)">
        </cars-list-car>
    </md-list>
</div>