<h1>Witaj {{ (user.firstName && user.lastName) ?
    (user.firstName + ' ' + user.lastName) : "Dołącz do naszej wypożyczalni" }}!</h1>

<h1>Znajdź idealny samochód na każdą okazję!</h1>
<h2>"Twoje mobilne rozwiązania na wyciągnięcie ręki"</h2>
<h3>Jesteśmy nowoczesną wypożyczalnią samochodów, oferującą szeroki wybór aut dostosowanych do Twoich potrzeb.
    Niezależnie od tego, czy planujesz rodzinny wyjazd, krótki wypad za miasto, czy potrzebujesz samochodu na służbową
    podróż – mamy coś dla Ciebie!</h3>
<h2>Dlaczego my?</h2>
<h3> “Komfort, bezpieczeństwo i profesjonalizm”

    • Flota premium – Od kompaktowych miejskich aut po luksusowe SUV-y.
    • Elastyczne warunki – Wybierz wynajem krótko- lub długoterminowy.
    • Łatwa rezerwacja – Intuicyjny proces rezerwacji online.
    • Konkretna obsługa – Nasz zespół zawsze gotowy, by doradzić i pomóc.</h3>
<h2>Jak to działa?</h2>
<h3>"Rezerwacja w trzech prostych krokach”

    1. Wybierz samochód – Przeglądaj naszą flotę według kategorii, rozmiaru lub preferencji.
    2. Rezerwuj online – Szybka i prosta rezerwacja za pomocą kilku kliknięć.
    3. Odbierz auto – Odbierz samochód z jednego z naszych punktów lub zamów dostawę pod wybrany adres.
</h3>
<h2>Nasze usługi</h2>
<h3>"Szeroki wybór samochodów dla każdego”

    • Samochody miejskie – Idealne na codzienne dojazdy.
    • Kompaktowe SUV-y – Świetne na weekendowe wycieczki i rodzinne podróże.
    • Auta luksusowe – Komfort i styl na specjalne okazje.
    • Busy i VAN-y – Doskonałe na grupowe wyjazdy.</h3>
<h2>Opinie klientów</h2>
<h3>"“Co nasi klienci mówią o nas?”

    “Profesjonalna obsługa i szybka rezerwacja. Samochód gotowy do odbioru bez żadnych problemów!” – Karolina, Warszawa.

    “Wynająłem samochód na wyjazd służbowy i byłem bardzo zadowolony z jakości usługi. Polecam!” – Piotr, Kraków.</h3>
<h2>Skontaktuj się z nami</h2>
<h3>“Masz pytania? Skontaktuj się z nami!”

    Nasz zespół jest dostępny 24/7, aby odpowiedzieć na wszelkie pytania i pomóc w rezerwacji.

    • Telefon: +48 123 456 789
    • Email: kontakt@twojawypozyczalnia.pl
    • Lokalizacja: ul. Przykładowa 10, 00-001 Warszawa

    Call to Action:

    “Zarezerwuj samochód już teraz i wyrusz w drogę bez stresu!”</h3>