<!-- TODO: Dodac Pozostałe pola  -->
<!-- TODO: Dodac sprawdzanie czy hasla sa takie same  -->
<!-- TODO: Dodac komunikaty   -->

<div layout="column" layout-align="center center">
    <md-card>
        <md-card-title>
            <h2 class="md-headline">Rejestracja</h2>
        </md-card-title>
        <md-card-content>
            <form name="registerForm" ng-submit="register()">

                <md-input-container class="md-block">
                    <label>Login</label>
                    <input type="text" ng-model="user.login" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Imię</label>
                    <input type="text" ng-model="user.firstName" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Nazwisko</label>
                    <input type="text" ng-model="user.lastName" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Email</label>
                    <input type="email" ng-model="user.email" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Hasło</label>
                    <input type="password" ng-model="user.password" required>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Potwierdź hasło</label>
                    <input type="password" ng-model="user.confirmPassword" required>
                </md-input-container>

                <md-button type="submit" class="md-raised md-primary" ng-disabled="registerForm.$invalid">Zarejestruj
                    się</md-button>
            </form>
        </md-card-content>
    </md-card>
</div>